---
layout: default
title: Home
---

{% if page.url == "/" %}

{% include hero.html %}

<!-- Featured
================================================== -->
<div class="text-center mb-8">
    <!-- col -->
    <!-- text -->
    <span class="text-uppercase text-primary fw-semibold ls-md">Lowongan Pekerjaan Terbaru</span>
    <!-- heading -->
  </div>
      <div class="row">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">


        <div class="text-center mb-8">
            <!-- col -->
            <!-- text -->
            <span class="text-uppercase text-primary fw-semibold ls-md">Pilihan Loker Lainnya</span>
            <!-- heading -->
            <h2 class="h1 fw-bold mt-3">TEMUKAN LOKER PILIHAN ANDA DI SINI.</h2>
          </div>


    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>




        {% include testimoni.html %}

        {% include companies.html %}
