<div class="container py-8">
    <div class="row">
    <div class="offset-lg-1 col-lg-5 col-md-6 col-12">
    <div class="mb-8 mb-md-0">
    <!-- image  -->
    <div class="mb-4">
    <img src="https://geeksui.codescandy.com/geeks/assets/images/svg/hubspot-logo.svg" alt="">
    
    </div>
    <!-- para  -->
    <p class="fs-3 mb-5">"I am very satisfied with my
    purchase. Your team
    helped me a lot with the new release for RLT
    version. I hope you are always successful. Thank
    you for your services and support."</p>
    <h4 class="mb-0">Ali</h4>
    
    <p>Geeks UI Customer </p>
    
    </div>
    </div>
    <div class="offset-lg-1 col-lg-5 col-md-6 col-12">
    <div class="mb-8 mb-md-0">
    <!-- image  -->
    <div class="mb-5">
    <img src="https://geeksui.codescandy.com/geeks/assets/images/svg/slack-logo.svg" alt="">
    
    </div>
    <!-- para  -->
    <p class="fs-3 mb-5">"This item has everything you need
    for creating a
    modern learning-platform. Really delighted by
    many details and the overall architecture. Support
    was superfast and helpful as well."</p>
    <h4 class="mb-0">Bernhar</h4>
    
    <p>Geeks UI Customer </p>
    
    </div>
    </div>
    </div>
    </div>